{% extends '_layouts/inapp.html.twig' %}

{% block title %}Liste des portefeuilles{% endblock %}

{% block content %}
    <h1>Liste des portefeuilles</h1>

    <ul>
        {% for wallet in wallets %}
            <li>
                <a href="{{ path('wallets_show', {'uid': wallet.uid}) }}">{{ wallet.label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
