{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {# menu #}
        {% include '_components/menu.html.twig' %}

        <div class="container-fluid p-4">
            {# messages flashes #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {# contenu #}
        <div class="contenu">
            {% block content %}{% endblock %}</div>
    </div>
{% endblock %}
