{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {# menu #}
        {% include '_components/menu.html.twig' %}

        {# contenu #}
        <div class="contenu">
            {% block content %}{% endblock %}</div>
    </div>
{% endblock %}
