{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>template in_app</h1>
        {# menu #}

        {# contenu #}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
