{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% include '_components/menustandard.html.twig' %}
        <div class="contenu">
            {% block content %}{% endblock %}</div>
    </div>
{% endblock %}
